<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar sticky">

    @await Component.InvokeAsync("NavbarFormInlineAdminLayoutComponentPartial")
    
    <ul class="navbar-nav navbar-right">
        @await Component.InvokeAsync("_NavbarMessageListAdminLayoutComponentPartial")
        @await Component.InvokeAsync("_NavbarNotificationListAdminLayoutComponentPartial")
        @await Component.InvokeAsync("NavbarAccountMenuAdminLayoutComponentPartial")
    </ul>
</nav>